@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

.App {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: beige;
}

.Navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219 139 70);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.nav-link {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav-link a {
    width: 100%;
    color: seashell;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link a:hover {
    background-color: rgb(187, 90, 46);
}

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    
    flex-grow: 1;
}

.Header {
    border: 5px wheat solid;
}

.Footer {
    position: sticky;
    bottom: 0;
    height: 36px;
    line-height: 0.5;
    padding: 5px;

    font-size: 14px;
    color: whitesmoke;
    background-color: #352f2d;
}

.SpotSelector {
    margin: 10px;
}

select{
    width: 100px;
    height: 32px;
    text-align: center;
}

.tourlist {
    width: 100%;
}

.tourlist-box {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(255, 251, 241);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);

    transition: 0.3s;
}

.card:hover {
    background-color: rgb(231, 202, 128);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card a {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;

    color: rgb(63, 57, 57);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card img {
    transition: 0.3s;
    opacity: 1;
}

.card img:hover {
    opacity: 0.5;
}


.tour-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-item-box img {
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px){
    .tour-item-box img {
        margin-top: 32px;
        width: 100%;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    }    
}

.tour-item-content {
    padding: 1px 50px;
    line-height: 24px;
    letter-spacing: 1px;
}

.loader {
    border: 16px solid #eccf98;
    border-top: 16px solid rgb(219 139 70);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  